@import url(./reset.css);

.wrap{
  /* overflow: hidden; */
}

.header {
  width: 100%;
  height: 5.625rem;
  position: fixed;
  border-bottom: 1px solid #0bab6d;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.gnb {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}
.logo img {
  height: 4.375rem;
}
.gnb-bar{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gnb-bar li::after{
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  background: url(./img/ic_star.png) center no-repeat;
}
.gnb-bar li:last-child::after{
  display: none;
}
.gnb-bar li a {
  font-size: 19px;
  font-weight: 500;
}
.gnb-btn{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb-btn .search {
  margin-left: 10px
}
.gnb-btn .search img{
  height: 2rem;
}



.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.slider{
  width: 100%;
  height: 950px;
  padding: 200px 0 100px ;
  position: relative;
  display: flex;
}
.center-slider{
  width: 33.75rem;
  height: 40.625rem;
}
.side-slider{
  width: 23.625rem;
}
/* .left-first-slider{
  position: absolute;
  left: 0;
}
.left-second-slider{
  position: absolute;
  left: 100px;
}
.right-second-slider{
  position: absolute;
  right: 100px;
}
.right-first-slider{
  position: absolute;
  right: 0;
} */
.side-slider ul li img {
  width: 23.635rem;
  height: inherit;
}



.footer {
  display: none;
}